<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="world"  default="empty"/>  <!-- empty, small_office, ... (see ../worlds) -->
  <arg name="gzpose" default="-x 0.0 -y 0.0 -z 1.00 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find tor_description)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <!-- start up world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find tor_gazebo)/worlds/$(arg world).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- spawn robot in simulation -->
  <include file="$(find tor_gazebo)/launch/tor_lower_body_spawn.launch">
    <arg name="gzpose" value="$(arg gzpose)"/>
  </include>

  <!-- default controllers -->
  <include file="$(find tor_controller_configuration)/launch/tor_default_controllers.launch"/>

</launch>
