<launch>

  <arg name="robot"  default="full_v2"/>  <!-- full_v1, full_v2 -->
  <arg name="gzpose" default="-x 0 -y 0 -z 1.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <!-- PAL Hardware gazebo config -->
  <rosparam command="load" file="$(find talos_hardware_gazebo)/config/talos_full_pal_hardware_gazebo_config.yaml"/>

  <!-- PID gains -->
  <rosparam command="load" file="$(find talos_hardware_gazebo)/config/pids.yaml"/>

  <!-- Robot model -->
  
  <include file="$(find talos_description)/robots/upload_talos.launch">
      <arg name="robot" value="$(arg robot)"/>
  </include>

  <!-- Spawn robot in Gazebo -->
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
    args="-urdf -param robot_description $(arg gzpose) -model talos" />

</launch>

