<launch>
  
  <include file="$(find talos_controller_configuration_gazebo)/launch/walking_controller.launch" />
  
  <include file="$(find talos_controller_configuration)/launch/position_controllers.launch">
      <arg name="robot" value="upper_body" />
  </include>

  <include file="$(find joint_torque_sensor_state_controller)/joint_torque_sensor_state_controller.launch" />

</launch>
