<launch>
  
  <include file="$(find talos_controller_configuration_gazebo)/launch/walking_controller.launch" />
  
  <include file="$(find talos_controller_configuration)/launch/upper_body_position_controllers.launch" />

  <include file="$(find joint_torque_sensor_state_controller)/joint_torque_sensor_state_controller.launch" />

</launch>
